/* CSS for Portfolio Page */
/* CSS for Categories */
.categories-section {
  padding: 60px 0;
}

.category-box {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-box:hover {
  transform: translateY(-10px);
}

.category-box a {
  text-decoration: none;
  color: inherit;
}

.category-icon {
  font-size: 1.8rem;
  color: #65c2fc;
  margin-bottom: 10px;
}

.category-box h3 {
  font-size: 0.8rem;
  color: #333;
}

/* CSS for Portfolio */
.portfolio {
  padding: 60px 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-description {
  padding: 0 20px 20px 20px;
}

.portfolio-description h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 10px;
}

.portfolio-description p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.portfolio-description .btn {
  background-color: #218dff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.8rem;
}

.portfolio-description .btn:hover {
  background-color: #007bff;
  color: #fff;
}
