/* CSS for Portfolio Page */
/* CSS for Categories */
.categories-section {
  padding: 60px 0;
}

.category-box {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-box:hover {
  transform: translateY(-10px);
}

.category-box a {
  text-decoration: none;
  color: inherit;
}

.category-icon {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 10px;
}

.category-box h3 {
  font-size: 1.25rem;
  color: #333;
}

/* CSS for Portfolio */
.portfolio {
  padding: 60px 0;
}

.portfolio img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-description {
  padding: 20px;
}

.portfolio-description h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.portfolio-description p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.portfolio-description .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-description .btn:hover {
  background-color: #0056b3;
  color: #fff;
}
