/* CSS for Home Page */
/* Home Title */
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.parallax-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  transform: translateY(0);
  transition: transform 0s ease-out;
}

.parallax-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.carousel-caption h5 {
  margin-top: -20rem;
  font-weight: 700;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  color: #fbfeff;
}

.carousel-caption p {
  font-weight: bold;
  color: #d9e2e6;
  font-size: 1.1rem;
}

/* Greetings */
.greeting {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.greeting-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.greeting-text {
  font-size: 1.25rem;
  color: #555;
}

.greeting-description {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}

/* .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
} */

/* Portfolio */
.portfolio {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.portfolio h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.portfolio .card {
  border: none;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.portfolio .card:hover {
  transform: scale(1.05);
}

.portfolio .card-img-top {
  border-radius: 15px;
}

.portfolio .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 15px;
}

.portfolio .card-text {
  color: #777;
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Contact */
.contact {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact .form-control {
  border-radius: 20px;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.contact .form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

.contact .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  text-transform: uppercase;
  width: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.contact .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}